.article {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} 
.scheduleCard {
    background-color: rgba(242, 242, 242, .7);
}
body {
    background-image: url("grass1.jpg") ;
    background-size: cover;
    background-repeat: no-repeat
}