.article {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-image: url("grass.jpeg");
    background-size: 100% 100%;
} 
.scheduleCard {
    background-color:rgba(179, 179, 179, .7);
}
