.clientButton {
    display: flex;
    justify-content: center
    
}
.clients {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around
}
.clientForm {
    color: white
}

.client {
    background-color: rgba(242, 242, 242, .8);
}